*{
 font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
  height: 70px;
  background-color: #0F2854;
}

.appName {
  text-align: center;
  font-weight: bold;
  color: #E3E3E3;
}

body {
  background-color: #e5e8f0;
}

.search {
  background-color: white;
  border: solid transparent 1px;
  border-radius: 10px;
}
.btn{
  border: solid transparent 1px;
  /* background-color: #226de0; */
  background-color: #4988C4;
  color: white;
}
.btn-refresh{
  background-color: #0F2854;
  color: #E3E3E3
}
.btn:hover{
  color: white;
}
hr{
  color: #a2c3e1
}
.file-upload-form{
    overflow-x: hidden;
}

}
.table-card {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* Table styling */
.table-card {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden; /* IMPORTANT for rounded corners */
}

/* Table styling */
#excelTable {
  width: 100%;
  border-collapse: collapse;
}

#excelTable thead {
  background-color: #f0f1f6;
}

#excelTable th,
#excelTable td {
  padding: 10px;
  vertical-align: middle;
}

/* Optional: remove double borders */
#excelTable,
#excelTable th,
#excelTable td {
  border: 1px solid #f0f1f6;
}
